body {
    background-color: rgb(12, 205, 223);
  }
  h1 {
    font-family: Tahoma;
    color: rgb(152, 180, 180);
  }
  p {
    color: black;
  }

  .container {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 50%;
    padding: 20px;
  }
