body{
    background-color: rgb(12, 205, 223);
  }
h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-family: Tahoma;
    color: rgb(152, 180, 180);
}
p {
  color: black;
  }


div {
    width: 500px; 
  }

div.container {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    word-wrap: break-word;

  }
